#user-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #bbb;
    padding: 10px 15px;
    border-radius: 4px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 33px 18px rgba(0, 0, 0, 0.12);
}

h4 {
    font-family: sans-serif;
}

.row {
    display: flex;
    justify-content: space-around;
}

.limbs_wrap {
    display: flex;
    justify-content: center;
}

.contract_accept {
    font-style: italic;
    margin-bottom: 10px;
}

.user-form__submit {
    font-size: 1.2rem;
    align-self: center;
    background-color: hsl(220, 90%, 56%);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

#user-form input,
#user-form textarea,
#user-form select {
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 10px;
    font-size: 1rem;
}
